<%- include('helpers/header', {title: "Artículo"}); %>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/dashboard">Law Maker&trade;</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            </div>
        </div>
    </nav>

    <main role="main" class="container">
        <h1 class="title mt-2 mb-4">Artículo <%= article.n_article %>
            <% for (let tag of article.tags) { %>
            <span class="badge badge-warning">#<%= tag %></span>
            <% } %>
        </h1>

        <% if (req.session.admin == true && article.status == "proposed") { %>
        <h2><a href="/article/open/<%= article.id %>" class="btn btn-warning btn-lg" role="button">Abrir a discusión</a>
        </h2>
        <% } %>

        <% if (req.session.admin == true && article.status == "open") { %>
        <h2><a href="/article/close/<%= article.id %>" class="btn btn-danger btn-lg" role="button">Finalizar
                votación</a></h2>
        <% } %>
        <% if (article.status == "open") { %>
        <h3><a href="/newProposal/<%= article.id %>" class="btn btn-secondary">Crear propuesta</a></h3>
        <% } %>
        <% if (article.status == "amendment") {  %>
        <h3><a href="/article/amendments/<%= article.id %>" class="btn btn-secondary">Ver enmiendas</a></h3>
        <% } %>

        <!-- STATUS BEGIN -->
        <% if (article.status == "proposed") { %>
        <div class="alert alert-primary" role="alert">
            Artículo propuesto.
        </div>
        <% } else if (article.status == "open") { %>
        <div class="alert alert-warning" role="alert">
            Artículo abierto.
        </div>
        <% } else if (article.status == "close") { %>
        <div class="alert alert-success" role="alert">
            Artículo cerrado.
        </div>
        <% } else if (article.status == "amendment") { %>
        <div class="alert alert-info" role="alert">
            Artículo cerrado.
        </div>
        <% } %>
        <!-- STATUS END -->


        <% if (article.status == "proposed") { %>
        <div class="mb-4 stats">
            <span class="mr-1 badge badge-secondary">
                Número de votos <span class="badge badge-light">
                    <%= article.votes_favour.length +  article.votes_against.length %>
                </span>
            </span>
            <span class="mr-1 badge badge-success">
                Votos a favor <span
                    class="badge badge-light"><%= (article.votes_favour.length / (article.votes_favour.length +  article.votes_against.length )) * 100 %>%</span>
            </span>
            <span class="mr-1 badge badge-danger">
                Votos en contra <span
                    class="badge badge-light"><%= (article.votes_against.length / (article.votes_favour.length +  article.votes_against.length )) * 100 %>%</span>
            </span>
        </div>
        <% } %>


        <%# Si no se ha votado, entonces dejamos votar :D  %>
        <% if (!article.votes_against.includes(req.session.mail) &&
            !article.votes_favour.includes(req.session.mail) &&
            article.status == "proposed") { %>
        <div class="card">
            <div class="card-body">
                <p class="card-text">Votar:
                    <a href="/article/vote/yes/<%= article.id %>" class="btn btn-success">Aceptar</a>
                    <a href="/article/vote/no/<%= article.id %>" class="btn btn-danger">Rechazar</a>
                </p>
            </div>
        </div>
        <% } else if ( (article.votes_against.includes(req.session.mail) ||
            article.votes_favour.includes(req.session.mail)) &&
            article.status == "proposed" ) { 
                if (article.votes_favour.includes(req.session.mail)) { %>
        <div class="card border-success">
            <div class="card-body">
                <p class="card-text">Usted ha votado a favor</p>
            </div>
        </div>
        <% } else { %>
        <div class="card border-danger">
            <div class="card-body">
                <p class="card-text">Usted ha votado en contra</p>
            </div>
        </div>
        <% } }%>

        <!--
        <div class="card mt-4 bg-secondary text-white">
            <div class="card-header">
                <div class="h4">Motivación</div>
            </div>
            <div class="card-body">
                <p class="card-text"><%= article.motivation %></p>
            </div>
        </div>
        -->
        <div class="card mt-4">
            <div class="card-body">
                <h3 class="card-title">Motivación</h3>
                <p class="card-text"><%= article.motivation %></p>
            </div>
        </div>

        <% if (article.status == "open") { %>
        <div class="mt-3 card bg-light">
            <div class="card-header">
                <div class="h4">Propuestas de texto</div>

            </div>
            <div class="card-body">
                <% for (let text of texts) { %>
                <div class="mt-3 card bg-light">

                    <div class="card-header">
                        <span class="mr-1 badge badge-secondary">
                            Número de respuestas <span class="badge badge-light">
                                <%= text.votes_favour.length + text.votes_favour.length %>
                            </span>
                        </span>
                        <span class="mr-1 badge badge-success">
                            Votos a favor <span class="badge badge-light">
                                <%= text.votes_favour.length %>
                            </span>
                        </span>
                        <span class="mr-1 badge badge-danger">
                            Votos en contra <span class="badge badge-light">
                                <%= text.votes_against.length %>
                            </span>
                        </span>
                        <a href="/article/text/<%= text.id %>">Ir a la propuesta</a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <%= text.text %>
                        </p>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
        <% } %>

        <% if(article.status == "close") { %>
        <div class="mt-3 card bg-light">
            <div class="card-header">
                <div class="h4">Texto Final</div>
            </div>
            <div class="card-body">
                <textarea class="card-text form-control" style="height: 300px" readonly><%= article.proposedText %></textarea>
            </div>
        </div>
        <% } %>

        <% if (article.comments.length) { %>
            <h3 class="mt-4">Comentarios</h3>
        <% } %>
        <% for(let comment of article.comments) {  %>
        <div class="mt-4 card bg-light">
            <div class="card-header">
                <strong><%= comment.name %></strong>
            </div>
            <div class="card-body">
                <p class="card-text"><%= comment.text %></p>
            </div>
        </div>
        <% } %>
        
        <form class="mt-4" action="/addArticleComment/<%= article.id %>" method="POST">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Comentario</span>
                </div>
                <textarea name="text" class="form-control"></textarea>
                <input type="hidden" name="name" value="<%= req.session.name %>">
            </div>
            <button type="submit" class="mt-4 btn btn-primary">Enviar comentario</button>
        </form>

    </main>


    <%- include('helpers/footer'); %>