<%- include('helpers/header', {title: "Artículo"}); %>

<body>
    <link href="/diffview.css" rel="stylesheet">
    <script src="/diffview.js"></script>
    <script src="/difflib.js"></script>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/dashboard">Law Maker&trade;</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            </div>
        </div>
    </nav>

    <main role="main" class="container">
        <h1 class="title mt-2 mb-4">Revisión final artículo</h1>
        <form method="POST">
        <textarea name="proposedText" class="form-control"><%= proposedText %></textarea>
        <% for(let i=0;i<amendments.length;i++) { %>
        <div class="mt-2 card bg-light">
                <div class="card-header">
                    Enmienda aprobada
                </div>
                <div class="card-body">

                    <p class="card-text" id="diff-<%= i %>">

                    </p> 
                        <script>
                        var base = difflib.stringAsLines(`<%= proposedText%>`);
                        var newtxt = difflib.stringAsLines(`<%= amendments[i].text %>`);
                        var sm = new difflib.SequenceMatcher(base,newtxt);
                        var opcodes = sm.get_opcodes();
                        var box = diffview.buildView({
                            baseTextLines: base,
                            newTextLines: newtxt,
                            opcodes: opcodes,
                            // set the display titles for each resource
                            baseTextName: "Original",
                            newTextName: "Enmendado",
                            contextSize: null,
                            viewType: 0
                        });
                        document.getElementById("diff-<%= i %>").appendChild(box);
                        </script>
                </div>
        </div>
        <% } %>
        <button type="submit" class="btn btn-primary">Finalizar artículo</button>
        </form>
    </main>


    <%- include('helpers/footer'); %>